@import "tailwindcss";
@plugin "daisyui";


nav > a.active{
  color: blue;
  border-bottom: 3px solid blue;
}

/* Loading Animation */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #FF3D00;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid #FFF;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

.root-font{
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}
